{% extends "base.html" %}

{% block title %}Add Client{% endblock title %}

{% block body %}

{% if messages %}
{% for message in messages %}

<div class="m-2 alert {% if message.tags == 'error' %}alert-danger{% elif message.tags == 'success' %}alert-success{% elif message.tags == 'warning' %}alert-warning{% else %}alert-info{% endif %} alert-dismissible fade show"
    role="alert">
    <strong>{{ message.tags }}:</strong> {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{% endfor %}
{% endif %}

<section>
    <div class="container py-5 ">
        <form method="post">
            {% csrf_token %}
            <div class="row d-flex">

                <div class="col-md-12 col-lg-6 mb-4 px-4">

                    <h4 class="alert alert-secondary text-center">Add Client Details</h4>

                    <!-- Text input -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <input type="text" id="form6Example3" class="form-control" name="client_comp_name" minlength="5" />
                        <label class="form-label" for="form6Example3">Client/Company Name </label>
                    </div>

                    <div data-mdb-input-init class="form-outline mb-4">
                        <input type="text" id="form6Example1" class="form-control" name="client_gst" minlength="15" maxlength="15" required />
                        <label class="form-label" for="form6Example1">GST Number</label>
                    </div>

                    <!-- Number input -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <input type="number" id="form6Example6" class="form-control" name="client_phone" minlength="10" />
                        <label class="form-label" for="form6Example6">Phone </label>
                    </div>

                    <!-- Number input -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <input type="email" id="form6Example2" class="form-control" name="client_email" minlength="12" />
                        <label class="form-label" for="form6Example2">Email</label>
                    </div>

                    <!-- Country input -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <input type="text" id="form6Example5" class="form-control" name="client_country" value="{{client_country | default:'India'}}" required />
                        <label class="form-label" for="form6Example5">Country</label>
                    </div>

                    <!-- State input -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <input type="text" id="form6Example8" class="form-control" name="client_state" value="{{client_state | default:'Delhi NCR'}}" required />
                        <label class="form-label" for="form6Example8">State</label>
                    </div>

                    
                    <!-- <div data-mdb-input-init class="form-outline mb-4">
                        <input type="text" id="form6Example4" class="form-control"  />
                        <label class="form-label" for="form6Example4">Address</label>
                    </div> -->

                    <!-- Pin input -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <input type="number" id="form6Example9" class="form-control" name="client_pin" minlength="6" required />
                        <label class="form-label" for="form6Example9">Pin Code</label>
                    </div>

                    <!-- Message input -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <textarea class="form-control" id="form6Example7" rows="4" name="client_other_info" required></textarea>
                        <label class="form-label" for="form6Example7">Full Address/Other Info.</label>
                    </div>

                </div>

                <div class="col-md-12 col-lg-6 mb-4 px-4">

                    <h4 class="alert alert-secondary text-center">Add Service Provider Details</h4>

                    <div data-mdb-input-init class="form-outline mb-4">
                        <input type="text" id="form6Example11" class="form-control" name="provider_comp_name" value="{{provider_comp_name | default:'xyz company'}}" minlength="5" required />
                        <label class="form-label" for="form6Example11">Company/Provider Name</label>
                    </div>

                    <div data-mdb-input-init class="form-outline mb-4">
                        <input type="text" id="form6Example12" class="form-control" name="provider_name" value="{{ provider_name|default:'John Wick' }}" required />
                        <label class="form-label" for="form6Example12">Handle By</label>
                    </div>                    

                    <div data-mdb-input-init class="form-outline mb-4">
                        <input type="number" id="form6Example13" class="form-control" name="provider_acc_no"  />
                        <label class="form-label" for="form6Example13">Bank Account No.</label>
                    </div>                    

                    <div data-mdb-input-init class="form-outline mb-4">
                        <input type="text" id="form6Example14" class="form-control" name="provider_bank_name" value="{{provider_bank_name | default:'xyz bank'}}" required />
                        <label class="form-label" for="form6Example14">Bank Name</label>
                    </div>

                    <div data-mdb-input-init class="form-outline mb-4">
                        <input type="text" id="form6Example15" class="form-control" name="provider_ifsc" value="{{provider_ifsc | default:'ABC00005'}}" required />
                        <label class="form-label" for="form6Example15">IFSC Code</label>
                    </div>

                    <div data-mdb-input-init class="form-outline mb-4">
                        <input type="text" id="form6Example16" class="form-control" name="provider_gst" value="{{provider_gst | default:'GST12345X'}}" minlength="15" maxlength="15" required />
                        <label class="form-label" for="form6Example16">GST Number</label>
                    </div>

                    <div data-mdb-input-init class="form-outline mb-4">
                        <input type="number" id="form6Example17" class="form-control" name="provider_phone" value="{{provider_phone | default:'9076543210'}}" required />
                        <label class="form-label" for="form6Example17">Phone No.</label>
                    </div>

                    <div data-mdb-input-init class="form-outline mb-4">
                        <input type="email" id="form6Example18" class="form-control" name="provider_mail" value="{{provider_mail | default:'example@gmail.com'}}" required minlength="12" />
                        <label class="form-label" for="form6Example18">Email</label>
                    </div>

                    <!-- Message input -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <textarea class="form-control" id="form6Example19" rows="2" name="provider_other_info" >{{provider_other_info | default:'Building No.4, xyz street, India'}}</textarea>
                        <label class="form-label" for="form6Example19">Full Address/Other Info.</label>
                    </div>

                </div>

                <button data-mdb-ripple-init type="submit" class="btn btn-light btn-block mb-4 fw-bold">Submit Details <i class="fas fa-paper-plane ml-2"></i></button>

            </div>
        </form>
    </div>
</section>

<hr class="bg-white">

{% if all_client_provide %}
<section>
    <div class="container-fluid">
        <h5 class="card-title text-white text-uppercase text-center my-2">Brief Details Of Client & Service Provider
        </h5>
        <div class="row">
            {% for record in all_client_provide %}
            <div class="col-md-6 my-2">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title text-warning text-center">Dated: {{ record.created_at }} | ID: {{ record.id }}</h6>
                        <div class="row">
                            <div class="col-sm-6 mb-3">
                                <ul class="list-unstyled">
                                    <li class="card-text text-white"><b class="text-warning">Client:</b> {{ record.client_comp_name }}</li>
                                    <li class="card-text text-white"><b class="text-warning">Phone:</b> {{ record.client_phone }}</li>
                                    <li class="card-text text-white"><b class="text-warning">Other Info:</b> {{ record.client_other_info }}</li>
                                </ul>
                            </div>
                            <div class="col-sm-6">
                                <ul class="list-unstyled">
                                    <li class="card-text text-white"><b class="text-warning">Client:</b> {{ record.provider_comp_name }}</li>
                                    <li class="card-text text-white"><b class="text-warning">Phone:</b> {{ record.provider_name }}</li>
                                    <li class="card-text text-white"><b class="text-warning">Other Info:</b> {{ record.provider_other_info }}</li>
                                </ul>
                            </div>
                        </div>
                        <div class="text-center">
                            <div class="dropdown">
                                <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-mdb-dropdown-init data-mdb-ripple-init aria-expanded="false">
                                    More Action
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <li><a class="dropdown-item text-warning" href="{% url 'edit_client_provider' record.id %}">Edit <i class="far fa-edit"></i></a></li>
                                    <li><a class="dropdown-item text-primary" href="#">Detail <i class="fas fa-eye"></i></a></li>
                                    <li>
                                        <form action="{% url 'delete-client' record.id %}" method="post">
                                            {% csrf_token %}
                                            <button class="dropdown-item text-danger" onclick="return confirm('Are you sure you want to delete this record ?')">Delete <i class="fas fa-times"></i></button>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>        
    </div>
</section>
{% endif %}


{% endblock body %}