{% extends "base.html" %}

{% block title %}Add Client{% endblock title %}

{% block body %}

<section>
    <div class="container py-5 ">
        <form method="post">
            {% csrf_token %}
            <div class="row d-flex">

                <div class="col-md-12 col-lg-6 mb-4 px-4">

                    <h4 class="alert alert-secondary text-center">Add Client Details</h4>

                    <!-- Text input -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <input type="text" id="form6Example3" class="form-control" />
                        <label class="form-label" for="form6Example3">Client/Company Name </label>
                    </div>

                    <div data-mdb-input-init class="form-outline mb-4">
                        <input type="text" id="form6Example1" class="form-control" />
                        <label class="form-label" for="form6Example1">GST Number</label>
                    </div>

                    <!-- Number input -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <input type="number" id="form6Example6" class="form-control" />
                        <label class="form-label" for="form6Example6">Phone </label>
                    </div>

                    <!-- Number input -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <input type="email" id="form6Example2" class="form-control" />
                        <label class="form-label" for="form6Example2">Email</label>
                    </div>

                    <!-- Country input -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <input type="text" id="form6Example5" class="form-control" />
                        <label class="form-label" for="form6Example5">Country</label>
                    </div>

                    <!-- State input -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <input type="text" id="form6Example8" class="form-control" />
                        <label class="form-label" for="form6Example8">State</label>
                    </div>

                    <!-- Text input -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <input type="text" id="form6Example4" class="form-control" />
                        <label class="form-label" for="form6Example4">Address</label>
                    </div>

                    <!-- Pin input -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <input type="number" id="form6Example9" class="form-control" />
                        <label class="form-label" for="form6Example9">Pin</label>
                    </div>

                    <!-- Message input -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <textarea class="form-control" id="form6Example7" rows="2"></textarea>
                        <label class="form-label" for="form6Example7">Full Address/Other Info.</label>
                    </div>

                </div>

                <div class="col-md-12 col-lg-6 mb-4 px-4">

                    <h4 class="alert alert-secondary text-center">Add Service Provider Details</h4>

                    <div data-mdb-input-init class="form-outline mb-4">
                        <input type="text" id="form6Example11" class="form-control" />
                        <label class="form-label" for="form6Example11">Company/Provider Name</label>
                    </div>

                    <div data-mdb-input-init class="form-outline mb-4">
                        <input type="text" id="form6Example12" class="form-control" />
                        <label class="form-label" for="form6Example12">Handle By</label>
                    </div>

                    <div data-mdb-input-init class="form-outline mb-4">
                        <input type="number" id="form6Example13" class="form-control" />
                        <label class="form-label" for="form6Example13">Bank Account No.</label>
                    </div>

                    <div data-mdb-input-init class="form-outline mb-4">
                        <input type="text" id="form6Example14" class="form-control" />
                        <label class="form-label" for="form6Example14">Bank Name</label>
                    </div>

                    <div data-mdb-input-init class="form-outline mb-4">
                        <input type="text" id="form6Example15" class="form-control" />
                        <label class="form-label" for="form6Example15">IFSC Code</label>
                    </div>

                    <div data-mdb-input-init class="form-outline mb-4">
                        <input type="text" id="form6Example16" class="form-control" />
                        <label class="form-label" for="form6Example16">GST Number</label>
                    </div>

                    <div data-mdb-input-init class="form-outline mb-4">
                        <input type="number" id="form6Example17" class="form-control" />
                        <label class="form-label" for="form6Example17">Phone No.</label>
                    </div>

                    <div data-mdb-input-init class="form-outline mb-4">
                        <input type="email" id="form6Example18" class="form-control" />
                        <label class="form-label" for="form6Example18">Email</label>
                    </div>

                    <!-- Message input -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <textarea class="form-control" id="form6Example19" rows="2"></textarea>
                        <label class="form-label" for="form6Example19">Full Address/Other Info.</label>
                    </div>

                </div>

                <button data-mdb-ripple-init type="submit" class="btn btn-light btn-block mb-4 fw-bold">Submit Details <i class="fas fa-paper-plane ml-2"></i></button>

            </div>
        </form>
    </div>
</section>


{% endblock body %}