{% extends "base.html" %}

{% block title %}Dashboard{% endblock title %}

{% block body %}

<section class="vh-100" style="background-color: #eee;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">

            <div class="col-md-12 col-lg-3 mb-4"> <!-- Use col-lg-4 for medium to large screens -->
                <div class="card" style="border-radius: 15px;">
                    <div class="card-body text-center">
                        <div class="mt-3 mb-4">
                            <i class="far fa-address-card fa-3x rounded-circle img-fluid text-white"></i>
                            <!-- <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava2-bg.webp"
                                class="rounded-circle img-fluid" style="width: 100px;" /> -->
                        </div>
                        <h4 class="mb-2 text-white">Add Client</h4>
                        <a type="button" href="{% url 'add-client' %}" class="btn btn-light btn-rounded btn-lg mt-3">
                            Click here
                        </a>
                    </div>
                </div>
            </div>

            
            <div class="col-md-12 col-lg-3 mb-4"> <!-- Repeat the card with col-lg-4 for three columns -->
                <div class="card" style="border-radius: 15px;">
                    <div class="card-body text-center">
                        <div class="mt-3 mb-4">
                            <i class="fas fa-list-ol fa-3x rounded-circle img-fluid text-white"></i>
                        </div>
                        <h4 class="mb-2 text-white">Assigne Services</h4>
                        <button type="button" class="btn btn-light btn-rounded btn-lg mt-3">
                            Click here
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-lg-3 mb-4"> <!-- Repeat the card with col-lg-4 for three columns -->
                <div class="card" style="border-radius: 15px;">
                    <div class="card-body text-center">
                        <div class="mt-3 mb-4">
                            <i class="fas fa-user-times fa-3x rounded-circle img-fluid text-white"></i>
                        </div>
                        <h4 class="mb-2 text-white">Delete Client</h4>
                        <a type="button" class="btn btn-light btn-rounded btn-lg mt-3">
                            Click here
                        </a>
                    </div>
                </div>
            </div>


            <div class="col-md-12 col-lg-3 mb-4"> <!-- Repeat the card with col-lg-4 for three columns -->
                <div class="card" style="border-radius: 15px;">
                    <div class="card-body text-center">
                        <div class="mt-3 mb-4">
                            <i class="fas fa-search fa-3x rounded-circle img-fluid text-white"></i>
                        </div>
                        <h4 class="mb-2 text-white">Review Invoice</h4>
                        <a type="button" class="btn btn-light btn-rounded btn-lg mt-3">
                            Click here
                        </a>
                    </div>
                </div>
            </div>

            
        </div>
    </div>
</section>


{% endblock body %}