{% extends "base.html" %}

{% block title %}Add Client{% endblock title %}

{% block body %}

{% if messages %}
{% for message in messages %}

<div class="m-2 alert {% if message.tags == 'error' %}alert-danger{% elif message.tags == 'success' %}alert-success{% elif message.tags == 'warning' %}alert-warning{% else %}alert-info{% endif %} alert-dismissible fade show"
    role="alert">
    <strong>{{ message.tags }}:</strong> {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{% endfor %}
{% endif %}


<section>
    <div class="container py-5">

        <h4 class="alert alert-secondary text-center">Assigne Services To Client</h4>

        <div id="services-form">
            {% include 'services_form.html' %}
        </div>

        <div class="my-2">
            <button type="button" class="btn btn-info" data-mdb-ripple-init hx-get="{% url 'create-services' %}" hx-target="#services-form" hx-swap="beforeend">+ Add More</button>

            <button type="button" class="btn btn-light" data-mdb-ripple-init data-mdb-ripple-color="dark" id="submit-all">Submit All</button>

        </div>
    </div>
</section>



{% endblock body %}